[credential]
  helper = osxkeychain
[user]
  name = hangsu
  email = hang@mushilabs.com
[core]
  editor = mvim -v
[difftool]
  prompt = false
[diff]
    tool = mvimdiff
[difftool "mvimdiff"]
    cmd = mvim -f -d \"$LOCAL\" \"$REMOTE\"
